<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>

<nav th:replace="fragments :: navigation"></nav>
<h1 th:text="${tituloTabla}"></h1>
<!--<form method="post" th:object="${artista}">-->

    <!--<label>Artista:</label><br>-->
    <!--<input type="text" name ="nombre" class="form-control" readonly="" /><br><br>-->
    <!--<label>Canción:</label><br>-->
    <!--<input type="text" name ="nombre" class="form-control" /><br><br>-->
    <!--<label>Duración:</label><br>-->
    <!--<input type="time" name ="duracion" class="form-control" /><br><br>-->

    <!--<input type="button" value ="Cancelar" class="btn btn-secondary" />-->
    <!--<input type="submit" value ="Guardar" class="btn btn-primary" />-->
    <!--<br><br>-->
    <!--</fieldset>-->
<!--</form>-->
<!--<br><br><br>-->
<table class="table">
    <tr>
        <th>Canción</th>
        <th>Duración</th>
        <th>Opciones</th>
    </tr>
    <tr th:each="c : ${canciones}">
        <td th:text="${c.titulo}"></td>
        <td th:text="${c.duracion}"></td>
        <td>
            <a href="">Editar</a>
            <a href="">Borrar</a>
        </td>
    </tr>
</table>
<br><br>
<br><br>

<button type="button" class="btn" href="/artista/index">Volver</button>


</body>
</html>