<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <div class="row justify-content-center" style="margin-top: 15px">
        <div class="col-8">
            <h2 class="text-center">Agregar Estilo</h2>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-8">
            <form method="post" th:object="${estilo}">
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" id="nombre" name ="nombre">

                </div>
                <input type="submit" value ="Cacelar" class="btn btn-secondary" />
                <input type="submit" value ="Agregar" class="btn btn-primary" />
            </form>
        </div>
    </div>
    <br><br>
    <div class="row justify-content-center" >
        <div class="col-8">
            <h2 class="text-left">Lista De Estilos</h2>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-8">
            <table class="table" width="100%">
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                </tr>
                <tr th:each="e : ${estilos}">
                    <td th:text="${e.id}"></td>
                    <td th:text="${e.nombre}"></td>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
</html>