<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<nav th:replace="fragments :: navigation"></nav>
<div class="container">
    <div class="row justify-content-center" style="margin-top: 15px">
        <div class="col-8">
            <h2 class="text-center">Agregar Estilo</h2>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-8">
            <form method="post" th:object="${estilo}">
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" id="nombre" name ="nombre">

                </div>
                <input type="submit" value ="Cacelar" class="btn btn-secondary" />
                <input type="submit" value ="Agregar" class="btn btn-primary" />
            </form>
        </div>
    </div>
    <br><br>
    <div class="row justify-content-center" >
        <div class="col-8">
            <h2 class="text-left">Lista De Estilos</h2>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-8">
            <table class="table" width="100%">
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                </tr>
                <tr th:each="e : ${estilos}">
                    <td th:text="${e.id}"></td>
                    <td th:text="${e.nombre}"></td>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
</html>